.navbarsection {
  margin-top: 80px;
}

.nav {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--primary-color);
  z-index: 20;
  box-shadow: var(--shadow);
}

.nav__item {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav__item--higlight {
  width: 35px;
  margin: 10px;
  transition: 0.2ms;
}

.nav__item--higlight:hover {
  width: 45px;
  border: 3px solid black;
  border-radius: 100%;
  padding: 3px;
  margin: 10px;
  background-color: rgba(128, 128, 128, 0.126);
}
